<div class="widgetname">


    <div class="native-div">
        <div class="template-currentDay">
            <br />
            <div class="weather-container">
                <div>
                    <div class="weather-location"></div>
                    <div class="weather-currentDate"></div>
                    <div class="weather-summary"></div>
                </div>
                <div class="weather-icon"></div>
                <div class="weather-result"></div>
            </div>
        </div>
    </div>

    <div dojoAttachPoint="weatherContainer" class="hidden">
        hello weather container
    </div>
    <div class="input-group" data-dojo-attach-point="inputNodes">

        <!--  <input type="text" class="form-control" placeholder="#rrggbb" data-dojo-attach-point="colorInputNode"> -->
        <!--  <div class="input-group-addon"><input type="color" data-dojo-attach-point="colorSelectNode"></div> -->
    </div>

    <!--<div class="widgetname-infoTextNode" data-dojo-attach-point="infoTextNode" />-->
</div>
