<div class="widgetname">

    <div class="native-div">
        <div class="template-currentDay">
            <br />
            <div class="weather-container">
                <div>
                    <div class="weather-location"></div>
                    <div class="weather-currentDate"></div>
                    <div class="weather-summary"></div>
                </div>
                <div class="weather-icon"></div>
                <div class="weather-result"></div>
            </div>
        </div>
    </div>
   
</div>
